.summary-box{
    margin-bottom: 45px;
}
.summary-main-head{
    font-size: 20px;
    font-weight: 500;
    margin-top: 18px;
    color: #1a0dab;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    display: block;
}
.summary-main-head:hover, .summary-main-head:focus {
    color: #681da8;
}
.summary-desc{
    margin: 0;
    font-size: 14px;
    color: #414141;
}